body {
    background-color: rgb(255, 253, 253);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
}

main{
    text-align: center;
    color: rgb(107, 172, 196);
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    height: 10vh;
}

h1{
    font-size: 50px;
    padding: 50px;
}

form{
    background-color: rgb(216, 216, 216);
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    font-size: 30px;

}

#submitbutton{
    font-size: 15px;
    background-color: rgb(107, 172, 196);
    border-radius: 50px;
}

header a{
    text-decoration: none;
    font-size: 25px;
    color: blue;
}

img{
 
    padding: 10px;
    height: 200px;
    width: 300px;
}
